Flask
Flask-Cors
Flask-JWT-Extended
Flask-Session
google
google-generativeai
google-api-core
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-dialogflow
google-cloud-dialogflow-cx
google-cloud-storage
langchain
langchain-google-vertexai
pandas
numpy
openai
protobuf
requests
sqlalchemy
tqdm
sentence-transformers
vertexai
gunicorn
db-dtypes 
dotenv

